<div class="sfb-filetable" data-ng-controller="sfbFileTableController">
	<table>
		<thead>
		<tr data-ng-click="sortBy($event)">
			<th data-type="name">name</th>
			<th data-type="ext">type</th>
			<th data-type="time">date</th>
			<th data-type="size">size</th>
			<th data-type="surface">dimensions</th>
			<th></th>
		</tr>
		</thead>
	</table>
	<div class="scroll">
		<table>
			<tbody>
			<tr
				data-ng-repeat="file in uploads"
				data-ng-model="file"
				class="upload"
			>
				<td>{{file.name}}</td>
				<td></td>
				<td>{{file.lastModified|date:'yyyy-MM-dd'}}</td>
				<td>{{formatSize(file)}}</td>
				<td></td>
				<td><button data-ng-click="cancelUpload(file)">del</button></td>
			</tr>
			<tr
				data-ng-click="handleTrClick($event,file)"
				data-ng-dblclick="handleTrDblClick(file)"
				data-ng-repeat="file in files"
				data-ng-model="file"
				draggable="move-files"
				class="{{file.selected?'selected':''}}"
			>
				<td style="{{icon(file)}}"><input type="text"
					data-ng-keyup="handleFileKeyUp($event)"
					data-ng-model="file.name"
					disabled
				/></td>
				<td>{{file.ext}}</td>
				<td>{{file.time*1000|date:'yyyy-MM-dd'}}</td>
				<td>{{formatSize(file)}}</td>
				<td>{{fileDimensions(file)}}</td>
				<td><button data-ng-click="deleteFile(file)">del</button></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>