<div class="sfb-filetable">
	<table data-ng-controller="sfbFileTableController">
		<thead>
		<tr>
			<th data-ng-click="theadSize($event)">name</th>
			<th>type</th>
			<th>date</th>
			<th>size</th>
			<th>dimensions</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr
			data-ng-click="handleTrClick($event,file)"
			data-ng-dblclick="handleTrDblClick(file)"
			data-ng-repeat="file in files"
			data-ng-model="file"
			draggable="move-files"
			class="{{file.selected?'selected':''}}"
		>
			<td style="{{icon(file)}}"><input type="text"
				data-ng-keyup="handleFileKeyUp($event)"
				data-ng-model="file.name"
				disabled
			/></td>
			<td>{{file.ext}}</td>
			<td>{{file.time*1000|date:'yyyy-MM-dd'}}</td>
			<td>{{formatSize(file)}}</td>
			<td>{{fileDimensions(file)}}</td>
			<td><button data-ng-click="deleteFile(file)">del</button></td>
		</tr>
		</tbody>
	</table>
</div>