<nav class="sfb-mainmenu" data-ng-controller="SfbMenuController">
<button data-ng-click="foo()" class="icon-folder-open" title="{{'newFolder'|translate}}"></button>
<button data-ng-click="bar()" class="icon-upload" title="{{'upload'|translate}}"></button>
<button data-ng-click="sfb.page='files';ffilesView()" class="icon-{{layout=='list'?'table':'list'}}" title="{{'grid'|translate}}"></button>
<button data-ng-click="sfb.page='settings'" class="icon-cog" title="{{'settings'|translate}}"></button>
</nav>