<div id="{{sfb.id}}" class="sfb sfb-modal" data-ng-controller="SfbInstance as sfb" data-sfb-resize data-sfb-file-drop>
	<div
		class="sfb-window sfb-{{sfb.layout}}"
		data-ng-controller="SfbWindow as sfbwin"
	>
		<h3>{{sfbwin.title}}</h3>
		<div class="sfb-window-buttons">
			<button data-ng-click="sfb.fullscreen()" class="icon-expand" title="{{'fullscreen'|translate}}"></button>
			<button data-ng-click="sfb.close()"		 class="icon-close" title="{{'close'|translate}}"></button>
		</div>
		<ng-include src="sfb.menuMain"></ng-include>
		<ng-include src="sfb.fileTable"></ng-include>
		<ng-include src="sfb.settings"></ng-include>
		<div class="select">
			<button data-ng-click="sfb.close()" translate="cancel" class="btn btn-default btn-sm">Cancel</button>
			<button data-ng-click="sfb.select()" translate="select" class="btn btn-primary btn-sm">Select</button>
		</div>
		<div class="sfb-move"		data-sfb-drag="move"></div>
		<div class="sfb-resize-l"	data-sfb-drag="resize-l"></div>
		<div class="sfb-resize-r"	data-sfb-drag="resize-r"></div>
		<div class="sfb-resize-t"	data-sfb-drag="resize-t"></div>
		<div class="sfb-resize-b"	data-sfb-drag="resize-b"></div>
		<div class="sfb-resize-tl"	data-sfb-drag="resize-tl"></div>
		<div class="sfb-resize-tr"	data-sfb-drag="resize-tr"></div>
		<div class="sfb-resize-bl"	data-sfb-drag="resize-bl"></div>
		<div class="sfb-resize-br"	data-sfb-drag="resize-br"></div>
	</div>
</div>
