<div class="sfb sfb-modal" data-ng-controller="SfbCtrl as sfb">
	<div class="sfb-window sfb-{{sfb.layout}}" data-ng-controller="SfbWindowCtrl">
		<h3>SFBrowser</h3>
		<div class="sfb-window-buttons">
			<button data-ng-click="sfb.fullscreen()" class="icon-expand"></button>
			<button data-ng-click="sfb.close()"		 class="icon-close"></button>
		</div>
		<ng-include src="sfb.menuMain"></ng-include>
		<ng-include src="sfb.fileTable"></ng-include>
		<div class="select">
			<button data-ng-click="sfb.close()" class="btn btn-default btn-sm">Cancel</button>
			<button data-ng-click="sfb.select()" class="btn btn-primary btn-sm">Select</button>
		</div>
		<div class="sfb-move"		draggable="move"></div>
		<div class="sfb-resize-l"	draggable="resize-l"></div>
		<div class="sfb-resize-r"	draggable="resize-r"></div>
		<div class="sfb-resize-t"	draggable="resize-t"></div>
		<div class="sfb-resize-b"	draggable="resize-b"></div>
		<div class="sfb-resize-tl"	draggable="resize-tl"></div>
		<div class="sfb-resize-tr"	draggable="resize-tr"></div>
		<div class="sfb-resize-bl"	draggable="resize-bl"></div>
		<div class="sfb-resize-br"	draggable="resize-br"></div>
	</div>
</div>
