.sfb-filetable {
	@theadHeight: 16px;
	@trHeight: 21px;
	position: relative;
	z-index: 1;
	clear: both;
	width: 100%;
	margin-top: 9px;
	.box-shadow(~'0 0 0 1px #AAA,2px 2px 4px #F8F8F8,-2px -2px 4px #DDD');
	@colorFade: #DDD;
	&:before {
//		content: ''; // todo: link to scroll
		.size(100%,20px);
		.lt(0,@theadHeight);
		z-index: 2;
		#gradient.vertical(@colorFade,fade(@colorFade,0));
	}
	&:after {
//		content: ''; // todo: link to scroll
		.size(100%,20px);
		.lb();
		z-index: 2;
		#gradient.vertical(fade(@colorFade,0),@colorFade);
	}
	.scroll {
		position: relative;
		width: 100%;
		height: 200px;
		overflow: auto;
	}
	table {
		width: 100%;
	}
	thead {
//		height: @theadHeight;
	}
	th {
		font: bold 10px / @theadHeight Arial,sans;
		@arrowSize: 4px;
		&.sortasc:after, &.sortdesc:after {
			content: '';
			display: inline-block;
			position: relative;
			top: -1px;
			margin-left: 3px;
			border-right: @arrowSize solid transparent;
			border-left: @arrowSize solid transparent;
		}
		&.sortasc:after { border-top: @arrowSize solid @colorSfb; }
		&.sortdesc:after { border-bottom: @arrowSize solid @colorSfb; }
	}
	a[download] {
		.hide-text();
		&:before {
			content: 'd';
			font: 10px/10px Arial, sans;
			color: black;
		}
	}
	button {
		border: 0;
		background-color: transparent;
		margin: 0;
		padding: 0;
	}
	input[type=text] {
		padding: 1px 6px;
		border: 0;
		background: transparent;
		color: black;
		&:not([disabled]) {
			.box-shadow(1px 1px 8px fade(black,20%) inset);
			background-color: white;
		}
	}
	tbody {
		font-size: 9px;
		background-color: #FFF;
		tr {
			white-space: nowrap;
			height: @trHeight;
			border-top: 1px solid #EEE;
			&.selected {
				background-color: #dbf5f8;
			}
			&:hover {
				background-color: #eafdff;
			}
			&.upload {
				position: relative;
				&,&:hover {
					background-color: #F3FFB3;
				}
				td:first-child {
					padding-left: 22px;
				}
				.progress {
					position: static;
					z-index: 0;
					div {
						.lt(0,1);
						height: @trHeight;
						background-color: #CBDA80;
					}
				}
			}
		}
		td {
			position: relative;
			z-index: 1;
			font: 12px/16px Arial,sans;
			&:first-child {
				padding-left: 16px;
				&:before {
					content: '';
					.square(16px);
					.lt(3,1);
					//background: url(css/fileSheet.png) no-repeat;
					/*! include -b fileSheet.png */
					background-position: inherit;
				}
			}
		}
	}
}
.sfb-grid {
	.sfb-filetable {
		thead {
			display: none;
		}
		tbody {
			tr {
				display: block;
				margin: 5px 0 0 5px;
				float: left;
				border: 0;
				td {
					display: none;
					padding: 0;
//					.square(128px);
//					background-color: gray;
					&:first-child {
						display: block;
					}
				}
			}

			td:first-child {
				&:before {
					.lt(0,0,relative);
					display: block;
					.square(128px);
					background-size: 3200%;
					background-color: fade(black,10%);
				}
			}
		}
		input {
			width: 128px;
			text-align: center;
		}
	}
}